body {
	min-height: 300vh;
	font-family: 'Playfair Display', serif;
}

.logo {
	font-weight: 300;
	padding-left: 10px;
}

.parallax-container {
	opacity: 0.9;
}

.btn-large {
	background-color: #DF613D;
}

.col #main-heading {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	color: #E6E6E6;
}

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}
p {
	font-family: 'Playfair Display', serif;
}

#education p {
	color: #E6E6E6;
}

#education h6 {
	color: white;
	font-size: 20px;
}

#skills p {
	color: #E6E6E6;
}

#skills ul li {
	font-size: 30px;
	color: white;
}

