body{
	min-height: 100vh;
	background-color: #31312F;
	font-family: 'Oswald', sans-serif;
	color: white;
	/*text-align: center;*/
}
h1{
	font-weight: 300 !important;
	text-transform: uppercase;
}

#profile-pic{
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

#logo{
	height: 60px;
	width: 150px;
}

#icons{
	/*margin-left: 35%;*/
	/*border: 1px solid red;*/
}

ul li{
	display: inline-block;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

a{
	color: white;
}




.paragraph{
	/*font-family: "Avenir Next" !important;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

#vertical-line {
  border-left: thick solid white;
  height: 1000px;
}